
.contenedor{
  padding-top: 50px;
  display:grid;
  gap:7rem;
  grid-auto-flow:dense;
  grid-auto-rows:50 rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem,1fr));
}
.button{
  text-align: center;
  margin:30px;
  height: 5vw;
  width: 20vw;
  font-family: Open Sans,'Helvetica','Arial',sans-serif;
  border-color: transparent;
  background-color: #FFDE6A;
  font-size: 1.5vw;
  

}
.boton{
  text-align: left;
  padding-left: 90px;
}
.portada{
  font-family: Open Sans,'Helvetica','Arial',sans-serif;
  margin:30px;
  text-align: left;
  padding-left: 90px;

}
.parrafo{
  font-family: Open Sans,'Helvetica','Arial',sans-serif;
  margin:30px;
  text-align: left;
  padding-left: 90px;
}
.imagen{
  padding: 20px;
  width:20vw;
  height:20vw
}


